<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headboard::Head-Board(title='Contacts Edit')}"></head>
<body>
<div th:replace="~{fragments/navBar::nav-section-bar}"></div>
<div class="container">
    <div class="container text-center" style="margin:30px">
        <h3>Add Contact</h3>
    </div>
    <div class="container">
        <form action="/edit" th:object="${contact}" method="post">
            <input type="hidden" th:field="*{idContact}"/>
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" required="required"
                       th:field="*{name}">
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">Phone</label>
                <input type="text" class="form-control" id="phone" name="phone"
                       th:field="*{phone}">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email"
                       th:field="*{email}">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-warning btn-sm me-3">EDIT</button>
                <a href="/" class="btn btn-danger btn-sm">BACK</a>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" required="required">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
        </form>
    </div>
</div>
<div th:replace="~{fragments/footPage::foot-page-section}"></div>
</body>
</html>