<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headboard::Head-Board(title='Contacts Application')}"></head>
<body>
<div th:replace="~{fragments/navBar::nav-section-bar}"></div>
<!--div para la tabla-->
<div class="container">
    <div class="container text-center" style="margin:30px">
        <h3>Contacts System</h3>
    </div>
    <div class="container">
    <table class="table table-striped table-hover align-middle table-border">
        <thead  class="table-dark table-center">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Cell</th>
            <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contact: ${contacts}">
            <th th:text="${contact.idContact}" scope="row"></th>
            <td th:text="${contact.name}"></td>
            <td th:text="${contact.phone}"></td>
            <td th:text="${contact.email}"></td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
<div th:replace="~{fragments/footPage::foot-page-section}"></div>
</body>
</html>